
.main-bar
  .header
    .left-header
      .left-header__title
        = @group.name
      %ul.left-header__members
        Menber:
        %li.member
          - @group.group_users.each do |group_users|
            = group_users.user.name
    .right-header
      .right-header__button
        = link_to "Edit", groups_path, class: "right-header__btn" 
  .messages
    = render @messages
    
    -# .message
    -#   .upper-message
    -#     .upper-message__user-name
    -#       メンバー
    -#     .upper-message__date
    -#       2019/11/28
    -#     .lower-message
    -#       .lower-message__text
    -#         メッセージ
      
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :message, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'